<!DOCTYPE html>

<html>

<head>
    <title>twitterGateway</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/javascripts/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/scriptFuncsHome.js"></script>
    
</head>

<body>

  <nav class="navbar navbar-custom" role="navigation" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home.html">Home</a></li>
        <li class="active"><a href="/index.html">Post Tweets</a></li>
        <li style="margin:0 0 0 900px" class="active"><a href="/home.html">Hi, User</a></li>
      </ul>
  </nav>  

  <div class="container">
    <div class="row">
       <div class="col-md-6 col-md-offset-3">
          <h1 class="center"> Tweets for approval </h1> 
          <br/><br/>
          <div id="postTweets">
              <br>

          </div>


       </div>
    </div>
  </div>

</body>
</html>